.bar {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 16px;

  background: var(--Main-Primary, #057f4c);
  color: var(--Neutral-01, #f5f5f5);
}

.bar-info {
  display: flex;
  padding: 24px 88px;
  align-items: center;
  gap: 16px;
}

.group-cards {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.label {
  font-family: Montserrat;

  font-size: 32px;
  line-height: 80px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  list-style: none;
}
