.bar {
  position: relative; /* container for absolute positioned children */
  width: 100%;
  /* optional layout sizing */
  display: block;
  margin: 1rem 0;
}

.detail_bar {
  width: 1609px;
  height: 89.018px;
  transform: rotate(-2.035deg);

  background: var(--Main-Secondary, #e6ae37);
}

.bar-info {
  height: 118px; /* adjust as needed */
  width: 100%;
  padding: 24px 88px;
  align-items: center;
  gap: 16px;

  background: var(--Main-Primary, #057f4c);
}

.Group-card {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 16px;
}

.label {
  width: 280px;
  height: 40px;
  justify-content: center;
  flex-direction: row;

  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 250% */
}

.icon {
  fill: var(--Main-White, #fff);
}
