.bar {
  position: relative; /* container for absolute positioned children */
  width: 100%;

  /* optional layout sizing */
  margin: 1rem 0;
}

.detail_bar {
  position: absolute; /* Position relative to . bar */
  top: 0;
  left: 0;
  width: 1456.664px;
  height: 113.018px;
  transform: rotate(-2.035deg);
  background: var(--Main-Secondary, #2fc9ce);

  /* Place it behind bar-info */
  z-index: 1;
}

.bar-info {
  position: relative; /* Needed for z-index to work */
  display: flex;
  align-items: center;
  gap: 16px;
  background: var(--Main-Primary, #6e38d9);

  /* Place it above detail_bar */
  z-index: 2;
}

.Group-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.label {
  width: 280px;
  height: 40px;
  justify-content: center;
  flex-direction: row;

  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 250% */
}

.icon {
  fill: var(--Main-White, #fff);
}
