.bar {
  position: relative; /* container for absolute positioned children */
  width: 100%;
  height: 104px;
  align-self: stretch;
}

.detail_bar {
  position: absolute; /* Position relative to . bar */
  top: 0;
  left: 0;
  width: 1442.664px;
  height: 74.018px;
  transform: rotate(-2.035deg);
  background: var(--Main-Secondary, #2fc9ce);

  /* Place it behind bar-info */
  z-index: 1;
}

.bar-info {
  position: relative;
  z-index: 2;
  background: var(--Main-Primary, #6e38d9);
  overflow-x: hidden; /* hide overflow while we control scrollLeft */
}

.Group-card {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 24px 16px;
  margin: 0;
  width: max-content;
}

.Group-card > li {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 0 0 auto;
}

.label {
  color: var(--Main-White, #fff);
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-4, 24px);
  font-weight: 400;
  line-height: 30px;
  white-space: nowrap;
}

.icon {
  fill: var(--Main-White, #fff);
}
