.bar {
  height: 141px;
  align-self: stretch;
}

.bar-info {
  display: flex;
  width: 1440px;
  padding: 24px 88px;
  align-items: center;
  gap: 16px;

  background: var(--Main-Primary, #057f4c);
}

.Group-card {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 16px;
}

.label {
  width: 280px;
  height: 40px;
  justify-content: center;
  flex-direction: row;

  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 250% */
}

.icon {
  fill: var(--Main-White, #fff);
}
