.bar {
  width: 1440px;
  height: 88px;
  top: 26px;

  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: var(--top-bottom, 24px) var(--left-right, 88px);
  background: var(--Main-Primary, #057f4c);
  color: var(--Neutral-01, #f5f5f5);
}

.bar-info {
  flex-flow: horizontal;
  width: 1440px;
  height: 88px;

  gap: 16px;
}

.group-cards {
  display: flex;
  flex-direction: row;

  gap: 16px;
}

.label {
  font-family: Montserrat;

  font-size: 32px;
  line-height: 80px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-align: center;
  list-style: none;
}
