.section-contact-us {
  box-sizing: border-box; /* includes padding in width calculations */
  width: 100%;
  max-width: 1440px; /* total width (content + padding) <= 1440px */
  margin: 0 auto; /* center */
  padding-right: 104px;

  display: flex;
  height: 686px;
  align-items: center;
  gap: var(--base-px-12, 44px);

  background: var(--Main-Primary, #6e38d9);
}

.image_contact_us {
  flex-shrink: 0;

  border-radius: var(--base-px-04, 16px);
}

.flower_img {
  width: 237px;
  height: 225px;
  transform: rotate(-18.131deg);

  fill: var(--Purple-06, #3f1390);
}
.flower2_img {
  width: 210px;
  height: 199px;

  fill: var(--Purple-03, #b69df0);
}

.star_img {
  width: 204px;
  height: 194px;

  fill: var(--Light-04, #a9fcff);
}

.star2_img {
  display: flex;
  width: 276.544px;
  height: 262.205px;
  transform: rotate(29.751deg);
  padding: 0.131px 0 0.336px 0;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  fill: var(--Main-Secondary, #2fc9ce);
}

.Saly-16 {
  display: flex;

  justify-content: center;
  align-items: center;
}

.group-interactions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.Text_interaction {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
  align-self: stretch;
}

.Badge_contact {
  display: inline-flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.text_badge {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;

  .text_content {
    align-self: stretch;

    color: var(--Main-White, #fff);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .content_info_color {
    color: var(--Light-03, #d5feff);
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
  }
}

.Data_interaction {
  display: flex;
  align-items: center;
  gap: 32px;
  align-self: stretch;
}

.content_data {
  display: flex;
  padding: var(--base-px-03, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  flex: 1 0 0;

  border-radius: var(--base-px-03, 12px);
  background: var(--Purple-06, #3f1390);
}

.icon__data {
  width: 44px;
  height: 44px;

  border-radius: 100000px;
  fill: var(--Main-Secondary, #2fc9ce);
}

.text_data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.label_text {
  align-self: stretch;

  color: var(--Main-White, #fff);

  /* LargeText/Semibold */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Large, 18px);
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 133.333% */
}

.label_text_data {
  align-self: stretch;

  color: var(--Main-White, #fff);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
