.section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto; /* center */
  gap: 24px;
  align-self: stretch;
}

.footer {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  align-items: flex-start;
}

.card-testimony {
  display: flex;
  padding: 56px 64px;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--base-px-07, 24px);
  align-self: stretch;

  border-radius: var(--base-px-00, 0);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.head-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer_label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  overflow: hidden;
  color: var(--Main-Text, #272827);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  .footer_italic_label {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    color: var(--Main-Text, #272827);
    text-overflow: ellipsis;
    font-family: Raleway;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
  }
}

.divider {
  width: 1312px;
  height: 1px;

  background: var(--Neutral-02, #dfe7e4);
}
.content_footer {
  display: flex;
  align-items: flex-end;
  gap: var(--base-px-11, 40px);
  align-self: stretch;
}

.item_footer {
  display: flex;
  width: 481px;
  padding: 0 var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-06, 20px);
}

.info_footer {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  flex: 1 0 0;
}

.group_icon_footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item_item_footer {
  display: flex;
  width: 481px;
  padding: 0 var(--base-px-00, 0);
  flex-direction: row;
  align-items: center;
  gap: var(--base-px-06, 20px);
}

.item_icon {
  width: 56px;
  height: 56px;

  border-radius: 56px;
  background:
    lightgray 50% / cover no-repeat,
    var(--Main-Secondary, #2fc9ce);
}

.content_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);

  .name_title {
    color: var(--Main-Text, #272827);
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.item_item_description {
  align-self: stretch;

  /* Multi-line ellipsis for 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Exactly 2 lines */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--Main-Text, #272827);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--base-px-08, 28px); /* 140% */

  /* Optional: Set max-height to enforce 2 lines (28px * 2 = 56px) */
  max-height: 56px; /* line-height * 2 */
}

.info_footer {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  flex: 1 0 0;
}

.navigation-contact {
  display: flex;
  align-items: flex-start;
  gap: 44px;
}

.Navigation_navigation_contact {
  display: flex;
  padding: 0 var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
}

.Item_navigation {
  display: flex;
  padding: var(--base-px-03, 12px) 0;
  align-items: center;
  gap: var(--base-px-03, 12px);
}

.navigation_label {
  color: var(--Main-Text, #272827);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.navigation_navigation {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;
}

.trackA,
.trackB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
}

.home {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  align-self: stretch;

  overflow: hidden;
  color: var(--Main-Text, #272827);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--base-px-07, 24px); /* 150% */
}

.Item_contact {
  display: flex;
  padding: var(--base-px-03, 12px) 0;
  align-items: center;
  gap: var(--base-px-03, 12px);
}

.contact_label {
  color: var(--Main-Text, #272827);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navigation_contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;
}

.navigation_contact_item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  overflow: hidden;
  color: var(--Main-Text, #272827);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--base-px-07, 24px); /* 150% */
}

.bar-footer-info {
  display: flex;
  padding: var(--base-px-03, 12px) 88px;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  background: var(--Main-Text, #272827);
}

.group-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}
.label_group-cards {
  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer_icon {
  width: 44px;
  height: 44px;
  aspect-ratio: 1/1;

  background: lightgray 50% / cover no-repeat;
}
