.section-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -24px;
  align-self: stretch;
}

.footer {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
}

.card-testimony {
  display: flex;
  padding: var(--base-px-15, 56px) var(--base-px-16, 64px);
  flex-direction: column;
  align-items: flex-end;
  gap: var(--base-px-07, 24px);
  align-self: stretch;

  border-radius: var(--base-px-00, 0);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.head-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.footer_label {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;

  overflow: hidden;
  color: var(--Main-Text, #272827);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  .footer_italic_label {
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    color: var(--Main-Text, #272827);
    text-overflow: ellipsis;
    font-family: Raleway;
    font-size: 48px;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
  }
}

.divider {
  width: 1312px;
  height: 1px;

  background: var(--Neutral-02, #dfe7e4);
}
.content_footer {
  display: flex;
  align-items: flex-end;
  gap: var(--base-px-11, 40px);
  align-self: stretch;
}

.item_footer {
  display: flex;
  width: 481px;
  padding: 0 var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-06, 20px);
}
.info_footer {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  flex: 1 0 0;
}

.group_icon_footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.bar-info {
  display: flex;
  padding: var(--base-px-03, 12px) 88px;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  background: var(--Main-Text, #272827);
}
