///////////////////// BEGIN groupSections ///////////////////////
.group-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}
//////////////////// END groupSections ///////////////////////

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}

.skills__hero {
  display: flex;
  height: 663px;
  padding: var(--base-px-16, 64px) 88px 0 88px;
  align-items: flex-start;
  gap: 63px;
  align-self: stretch;

  border-radius: var(--base-px-07, 24px);
  background: var(--Green-06, #3f1390);
}

.Detail1_hero {
  width: 304px;
  height: 462px;
  transform: rotate(50.694deg);

  position: absolute;
  left: 7.426px;
  bottom: -58.888px;
}

.Detail2_hero {
  width: 304px;
  height: 462px;
  transform: rotate(30.174deg);

  position: absolute;
  left: -169.492px;
  top: -215.1px;
}

.info__hero {
  display: flex;
  height: 521px;
  align-items: center;
  gap: 94px;
  flex: 1 0 0;

  position: absolute;
}

.Detail1__info {
  width: 304px;
  height: 462px;
  transform: rotate(50.694deg);

  position: absolute;
  left: -119px;
  top: -10px;

  .rectangle_3_info {
    width: 304px;
    height: 462px;
    transform: rotate(50.694deg);
    flex-shrink: 0;

    border-radius: 1000px;
    border: 1px solid var(--Neutral-03, #c3cfca);
  }

  .rectangle_4_info {
    width: 272px;
    height: 425.04px;
    transform: rotate(50.694deg);
    flex-shrink: 0;

    border-radius: 1000px;
    border: 1px solid var(--Neutral-03, #c3cfca);
  }
}

.Detail2__info {
  width: 508.376px;
  height: 521px;

  position: absolute;
  left: -89px;

  background: var(--Main-Background_Alt, #f5f5f5);
}

.content1__title {
  align-self: stretch;

  color: var(--Main-Primary, #057f4c);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Data__hero {
  display: flex;
  width: 197px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.Content__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.content__title {
  align-self: stretch;

  color: var(--Main-Primary, #057f4c);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.content__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Content2__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.Vector_1 {
  width: 452px;
  height: 677px;

  left: 282px;
  bottom: 0;
}

.Content_tag {
  display: flex;
  width: 578px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);

  border-radius: 8px;
}

.text__tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.bag__skills {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-01, #fcf5e4);
}

.bag__label {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Content__skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title__content {
  align-self: stretch;

  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .title__antoniamendoza {
    color: var(--Main-White, #fff);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.label__content {
  align-self: stretch;

  color: var(--Main-White, #fff);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.Tag {
  display: flex;
  padding: var(--base-px-02, 8px) var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--base-px-24, 104px);
  border: 1px solid var(--Main-Secondary, #e6ae37);
  background: var(--Orange-01, #fcf5e4);
}

.label__tag {
  color: var(--Orange-06, #bb8513);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
////////////////////////////////////////////////////////
/// Skills Tools Section Styles
/// //////////////////////////////////////

.Section-tools {
  display: flex;
  padding: var(--base-px-24, 104px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-11, 40px);
  align-self: stretch;
}

.text-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.Badge-text {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-01, #fcf5e4);
}

.label-badge {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Content-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title-text {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span_title_text {
  color: var(--Main-Secondary, #e6ae37);
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.Group-tag {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
}

.Group-info-tools {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-px-11, 40px);
}

.item-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-04, 16px);
}

.img-item {
  width: 128px;
  height: 128px;

  border-radius: 128px;
  background: url("images/icons/figma-Icon.svg") lightgray 50% / contain
      no-repeat,
    var(--Main-Background_Alt, #fcf5e4);
}

.label-item {
  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
