.Section-projects-contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.projects-section {
  display: flex;

  height: 1440px;
  padding: var(--base-px-19, 88px) var(--base-px-24, 104px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-11, 40px);
  align-self: stretch;

  background: var(--Main-Background_Alt, #f5f5f5);
}

.text-projects {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.info__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label__badge {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title__tag {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .title__span {
    color: var(--Main-Primary, #6e38d9);
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
}

.group__tag {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
}

.btn__text {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid var(--Light-05, #2fc9ce);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.button__text {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.Group-cards {
  display: flex;
  align-items: center;
  gap: 28px var(--base-px-08, 28px);
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.Card-project {
  display: flex;
  height: 428.5px;
  min-width: 400px;
  padding: var(--base-px-07, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-06, 20px);
  flex: 1 0 0;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-White, #fff);
}

.Image-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.image-card {
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--base-px-04, 16px);
  background:
    lightgray 50% / cover no-repeat,
    var(--Main-Background_Alt, #f5f5f5);
}

.Content-card {
  display: flex;
  padding: 0 var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;

  z-index: 1;
}

.card-title {
  align-self: stretch;

  color: var(--Neutral-06, #585d5b);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.card-description {
  align-self: stretch;

  color: var(--Neutral-06, #585d5b);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
