.Section-projects-contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.contact-us-section {
  display: flex;
  width: 1440px;
  height: 900px;
  padding: 200px 175px;
  align-items: flex-end;
  gap: var(--base-px-15, 56px);

  background: var(--Main-Primary #6e38d9);
}

.item-contacUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.info__item {
  display: flex;
  width: 444px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.Detail__info {
  width: 508.376px;
  height: 521px;

  position: absolute;
  left: -89px;

  background: var(--Purple-01, #f2efff);
}

.data__info {
  display: flex;
  width: 155px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.content__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.text__data {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  text-align: right;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Group-interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.image__info {
  width: 238.482px;
  flex-shrink: 0;
  align-self: stretch;

  border-radius: 1000px;
  background: var(--Main-Secondary, #2fc9ce);
}

.frame-17 {
  width: 1441px;
  height: 63px;

  position: absolute;
  left: -1px;
  bottom: 62px;
}
