.experience-section {
  display: flex;
  height: 964px;
  padding: var(--base-px-24, 104px) 88px var(--base-px-00, 0) 88px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  align-self: stretch;
}

.Content-exp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  .Badge {
    display: flex;
    padding: var(--base-px-02, 8px);
    align-items: center;
    gap: var(--base-px-01, 4px);

    border-radius: 10000px;
    background: var(--Orange-01, #fcf5e4);
  }

  .badge__label {
    color: var(--Orange-06, #bb8513);

    /* MediumText/Regular */
    font-family: var(--Family-Content, Raleway);
    font-size: var(--Size-Medium, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.content-text {
  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px; /* 154.545% */
}
.green-text {
  color: var(--Main-Primary, #057f4c);
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
}

.group-card {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}

.educ__card {
  display: flex;
  padding: var(--base-px-11, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  flex: 1 0 0;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.head-educ {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.icon__educ {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;

  border-radius: 3076.923px;
  background: var(--Main-Secondary, #e6ae37);
}

.label__educ {
  flex: 1 0 0;

  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.divider {
  height: 0;
  align-self: stretch;

  stroke-width: 1px;
  stroke: var(--Neutral-03, #3fdb9a);
}

.education__item {
  list-style-type: none;

  display: flex;
  padding: 0 var(--base-px-06, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;

  border-left: 1px solid var(--Neutral-04, #9da9a4);
}

.date__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.degree__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}

.institution__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.exp__card {
  display: flex;
  padding: var(--base-px-11, 40px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  flex: 1 0 0;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-Background_Alt, #f5f5f5);
}
.head-exp {
  display: flex;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.experience__item {
  list-style-type: none;

  display: flex;
  padding: 0 var(--base-px-06, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;

  border-left: 1px solid var(--Neutral-04, #9da9a4);
}

.Frame__15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;

  border-left: 1px solid var(--Neutral-04, #9da9a4);
}
.icon__exp {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;

  border-radius: 3076.923px;
  background: var(--Main-Secondary, #e6ae37);
}

.label__exp {
  flex: 1 0 0;

  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.divider {
  height: 0;
  flex-shrink: 0;
  align-self: stretch;

  stroke-width: 1px;
  stroke: var(--Neutral-03, #c3cfca);
}

.date__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.position__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 100% */
}

.company__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}
