///////////////////// BEGIN groupSections ///////////////////////
.group-sections {
  display: flex;
  padding: var(--base-px-16, 64px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-12, 44px);
}
//////////////////// END groupSections ///////////////////////

///////////////////  Skills Tools Section Styles //////////////////////////////////////

.Section-tools {
  display: flex;
  width: 1440px;
  padding: var(--base-px-16, 64px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-12, 44px);

  background: #fff;
}

.text-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-02, 8px);
  align-self: stretch;
}

.Badge-text {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label_badge {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.Content_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title-text {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span_title_text {
  color: var(--Main-Secondary, #2fc9ce);
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.Group-tag {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
}

.Group-info-tools {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-px-11, 40px);
}

.item-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-04, 16px);
}

.img-item {
  width: 128px;
  height: 128px;

  border-radius: 128px;
  background:
    url("images/icons/figma-Icon.svg") lightgray 50% / contain no-repeat,
    var(--Main-Background_Alt, #fcf5e4);
}

.label-item {
  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
