.projects-section {
  display: flex;
  padding: var(--base-px-24, 104px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-11, 40px);
  align-self: stretch;

  background: var(--Main-Background_Alt, #f5f5f5);
}



.text-projects {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.info__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-04, #a9fcff);
}

.label__badge {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title__tag {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .title__span {
    color: var(--Main-Primary, #057f4c);
    font-family: Montserrat;
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
  }
}

.group__tag {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
}

.btn__text {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid var(--Orange-05, #e6ae37);
  background: var(--Main-Background_cream, #fcf5e4);
}

.button__text {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Group-cards {
  display: flex;
  align-items: center;
  gap: 28px var(--base-px-08, 28px);
  flex: 1 0 0;
  align-self: stretch;
  flex-wrap: wrap;
}

.Card-project {
  display: flex;
  min-width: 400px;
  padding: var(--base-px-07, 24px);
  flex-direction: column;
  align-items: flex-start;

  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-White, #fff);
}

.Image-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1 0 0;
  align-self: stretch;
}

.image-card {
  flex: 0 0 0;
  align-self: stretch;

  border-radius: var(--base-px-04, 16px);
  background: lightgray 50% / cover no-repeat;
}

.Group-pills {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  left: 12px;
  bottom: 11.991px;
}

.pill {
  display: flex;
  padding: var(--base-px-01, 40px) var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 1000px;
  background: var(--Orange-04, #fecd64);
  list-style-type: none;

  color: var(--Main-Black, #000);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.Content-card {
  display: flex;
  padding: 0 var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-03, 12px);
  align-self: stretch;
}

.card-title {
  align-self: stretch;

  color: var(--Neutral-06, #585d5b);
  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.card-description {
  align-self: stretch;

  color: var(--Neutral-06, #585d5b);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}


////////////////// detail projects /////////////////
.Detail__projects_1 {
  width: 1440px;
  height: 556px;

  right: -4.101px;
  bottom: 0;

  fill: var(--Orange-04, #a9fcff);

  background: url("/images/projects/Detail_1.png") no-repeat;
}

.Detail__projects_2 {
  width: 1440px;
  height: 556px;

  bottom: 0;

  fill: #644cce;

  background: url("/images/projects/Detail_2.png") no-repeat;
}

//////////////////// text projects /////////////////
/// 
/// 