.Section-projects-contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.contact-us-section {
  display: flex;
  width: 1440px;
  height: 900px;
  padding: 200px 175px;
  align-items: flex-end;
  gap: var(--base-px-15, 56px);

  background: var(--Main-Primary, #057f4c);
}

.item-contacUs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.info__item {
  display: flex;
  width: 444px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
}

.Detail__item {
  width: 504.246px;
  height: 500px;

  left: -176.201px;

  background: var(--Green-01, #e2f2eb);
}

.data__info {
  display: flex;
  width: 155px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.content__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}
.text__item {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  text-align: right;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Group-interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.frame-17 {
  width: 1441px;
  height: 63px;

  position: absolute;
  left: -1px;
  bottom: 62px;
}
