.Section-projects-contactus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.contactUs-section {
  display: flex;
  width: 1440px;
  height: 900px;
  padding: 200px 175px;
  align-items: flex-end;
  gap: var(--base-px-15, 56px);

  background: var(--Main-Primary, #6e38d9);
}

.item-contacUs {
  display: flex;
  height: 521px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.info__item {
  display: flex;
  width: 444px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  gap: 20px;
}

.Detail__info {
  width: 504px;
  height: 521px;

  position: absolute;
  left: -00px;

  background: var(--Purple-01, #f2efff);
}

.data__info {
  display: flex;
  width: 155px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
}

.content__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  z-index: 1;
}

.text__data {
  color: var(--Neutral-07, #424544);
  text-align: right;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.icon_contactUs {
  width: 44px;
  height: 44px;

  fill: var(--Main-White, #fff);
}

/////////////////////////////////get interations section///////////////////////////////
.Group-interactions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.text_interactions {
  display: flex;
  width: 535px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
}

.info_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.badge_info {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label_badge {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.content_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title_content {
  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.bold_title {
  color: var(--Light-03, #d5feff);
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}

.label_description {
  align-self: stretch;
  color: var(--Main-White, #fff);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

////////////////// FORM SECTION ////////////////////////
///
///
.form_interactions {
  display: flex;
  width: 535px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.Textfield_intetactions {
  display: flex;
  padding: var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;

  border-radius: var(--base-px-03, 12px);
  border: 1px solid var(--Purple-01, #f2efff);
}

.label_interactions {
  display: flex;
  padding: var(--base-px-01, 4px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  position: absolute;
  left: 10px;
  top: -12px;

  display: -webkit-box;
  -webkit-box-orient: vertical;

  overflow: hidden;
  color: var(--Main-White, #fff);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.textfield_subtitle {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  flex: 1 0 0;

  overflow: hidden;
  color: var(--Main-White, #fff);
  text-overflow: ellipsis;
  font-family: Raleway;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background-color: #6e38d9;
}

///////////////// END FORM SECTION /////////////////////

/////////////////////////// image info section ////////////////////////////
///
.image__info {
  width: 238px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;

  border-radius: 1000px;
  background: var(--Main-Secondary, #2fc9ce);

  z-index: 1;
}

.frame-17 {
  display: flex;
  width: 1441px;
  height: 63px;

  left: -1px;
  bottom: 62px;

  .frame-detail {
    width: 1524.329px;
    height: 63.095px;

    right: -42.165px;
    top: -0.5px;

    stroke-width: 2.155px;
    stroke: var(--Purple-05, #6e38d9);

    background-image: url("/images/contactUs/frame-detail.svg");
  }
}
