///////////////////// BEGIN groupSections ///////////////////////
.group-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}
//////////////////// END groupSections ///////////////////////

///////////////////  Skills Tools Section Styles //////////////////////////////////////

.Section-tools {
  display: flex;
  width: 1440px;
  padding: var(--base-px-16, 64px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-12, 44px);

  background: #fff;
}

.text-tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-02, 8px);
  align-self: stretch;
}

.Badge-text {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label_badge {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.Content_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title-text {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.span_title_text {
  color: var(--Main-Secondary, #2fc9ce);
  font-family: Montserrat;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
}

.Group-tag {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 12px;
  align-self: stretch;
  flex-wrap: wrap;
}

.Group-info-tools {
  display: inline-grid;
  row-gap: var(--base-px-07, 24px);
  column-gap: var(--base-px-04, 16px);
  grid-template-rows: repeat(1, fit-content(100%));
  grid-template-columns: repeat(6, fit-content(100%));
}

.item-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-04, 16px);
}

.img-item {
  width: 128px;
  height: 128px;

  border-radius: 116px;
  background:
    url(<path-to-image>) lightgray 18.34px 17.493px / 68.379% 72.965% no-repeat,
    var(--Neutral-02, #dfe7e4);
}

.label-item {
  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button_tools {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid var(--Light-05, #2fc9ce);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.load_more_button {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
