.section-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  gap: 56px;
}

.background {
  height: 8px;
  align-self: stretch;

  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
}

.head {
  display: inline-flex;
  align-items: center;
  padding: var(--base-px-04, 16px);

  border-radius: var(--base-px-06, 20px);
  border: 1px solid var(--Neutral-02, #dfe7e4);
  background: var(--Main-White, #fff);

  z-index: 9999;
}

.logo {
  width: 88px;
  height: 48px;

  background: var(--Main-Secondary, #2fc9ce);
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--base-px-02, 8px);
}

.selected-tab {
  display: flex;
  min-height: 44px;
  padding: 12px var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--base-px-16, 64px);
  background: var(--Green-02, #baf2db);
}

.tab {
  display: flex;
  min-height: 44px;
  padding: 12px var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu__link {
  color: var(--Green-06, #057f4c);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-contact {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #057f4c);

  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 150% */
}

@media (max-width: 768px) {
  .head {
    padding: var(32px);
    gap: 16px;
  }
}
