.section-head {
  display: flex; /* use flex, not inline-flex */
  position: fixed;
  top: 16px; /* distance from top */
  left: 50%; /* move to horizontal center */
  transform: translateX(-50%); /* shift back by half its width */

  width: max-content; /* shrink to fit content */
  max-width: calc(100% - 32px); /* prevent overflow on small screens */

  padding: var(--base-px-04, 16px);
  align-items: center;
  gap: var(--base-px-11, 40px);

  border-radius: var(--base-px-06, 20px);
  border: 1px solid var(--Neutral-02, #dfe7e4);
  background: var(--Main-White, #fff);

  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.ISO_header_logo {
  display: flex;

  padding-left: 4.623px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_logo {
  height: 48.074px;
  flex-shrink: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--base-px-02, 8px);
}

.tab {
  display: flex;
  min-height: 44px;
  padding: 12px var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu__link {
  color: var(--Purple-06, #3f1390);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.btn-contact {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #057f4c);

  color: #fff;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px; /* 150% */
}

@media (max-width: 768px) {
  .head {
    padding: var(32px);
    gap: 16px;
  }
}
