.project__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #6e38d9);
}

.button__link {
  color: var(--Main-White, #fff);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  list-style: none;
  text-decoration: none;
}

.contact__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 2px solid var(--Light-05, #2fc9ce);
  background: var(--Main-White, #fff);
}

.contact__link {
  color: var(--Light-06, #0ea7ac);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-decoration: none;
}

.menu__link {
  text-decoration: none;
  list-style: none;
  color: inherit;
  line-height: 1.25rem;

  @media (max-width: 680px) {
    font: var(--font-normal);
    font-size: 0.8rem;
  }
}
