.hero {
  display: flex;

  padding: 200px 88px 116px 88px;
  align-items: center;
  gap: var(--base-px-09, 32px);
  align-self: stretch;

  background: var(--Main-White, #fff);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-06, 20px);
  flex: 1 0 0;

  min-width: 710px;
}

.tag {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 13.659px;

  border: 1px solid var(--Neutral-06, #585d5b);
}

.tag__label {
  color: var(--Neutral-06, #585d5b);

  /* H4/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-4, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}

.hero__content__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.hero-text {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* H1/Semibold */
  font-family: var(--Family-Title, Montserrat);
  font-size: var(--Size-Heading-1, 64px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  .hero-green-text {
    color: var(--Main-Primary, #057f4c);

    /* H1/Semibold */
    font-family: var(--Family-Title, Montserrat);
    font-size: var(--Size-Heading-1, 64px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

.hero__description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* H4/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-4, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
}

.hero__info {
  display: flex;
  width: 510px;
  align-items: center;
  gap: 44px;
  flex-shrink: 0;
  align-self: stretch;
}

.Detail_2 {
  width: 449.489px;
  height: 521px;

  position: absolute;
  left: 987.999px;

  background: var(--Purple-01, #f2efff);
}

.Detail_1 {
  width: 304px;
  height: 462px;
  transform: rotate(50deg);

  position: absolute;
  left: -119px;
  top: -10px;
}
.rectangle_3 {
  width: 304px;
  height: 462px;
  transform: rotate(50.694deg);
  flex-shrink: 0;

  border-radius: 1000px;
  border: 1px solid var(--Neutral-03, #c3cfca);
}

.rectangle_4 {
  width: 272px;
  height: 425.04px;
  transform: rotate(50.694deg);
  flex-shrink: 0;

  border-radius: 1000px;
  border: 1px solid var(--Neutral-03, #c3cfca);
}

.figma__picture {
  display: flex;
  width: 304px;
  padding: 43.5px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  z-index: 2;

  border-radius: 10000px;
}

.hero__img {
  height: 521px;
  align-self: stretch;

  border-radius: 1000px;
  background: url("/images/Anto__hero_bw.png") -84.265px -37.958px / 154.117%
      107.579% no-repeat,
    var(--Main-Secondary, #2fc9ce);
}

.data__sections {
  display: flex;
  width: 205px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex: 1 0 0;

  margin-right: auto;
}

.data__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  z-index: 1;
}

.hero__title {
  align-self: stretch;

  color: var(--Main-Primary, #6e38d9);

  /* H3/Bold */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-3, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
}

.hero__info__description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  list-style-type: none;
}
