.hero {
  display: flex;
  // height: 840px; ** need to remove this to make it responsive, but it was needed for the design **
  position: relative; /* ✅ referencia para absolute */
  overflow: hidden; /* ✅ recorta lo que se salga */

  padding: 116px 88px;
  justify-content: center;
  align-items: center;
  gap: var(--base-px-09, 32px);
  align-self: stretch;

  background: var(--Main-White, #afced7);
}

.hero__container {
  display: flex;
  max-width: 1440px;
  justify-content: space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-06, 20px);
  flex: 1 0 0;
}

.logo__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ISO__logo {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 80.867px 0 0 13.453px;
  justify-content: flex-end;
  align-items: center;
}

.hero__logo {
  width: 200.622px;
  height: 176.846px;
  flex-shrink: 0;
}

.hero__content__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.hero-text {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* H1/Semibold */
  font-family: var(--Family-Title, Montserrat);
  font-size: var(--Size-Heading-1, 64px);
  font-style: normal;
  font-weight: 600;
  line-height: 80px; /* 125% */

  .hero-green-text {
    color: var(--Main-Primary, #6e38d9);

    font-family: var(--Family-Title, Montserrat);
    font-size: var(--Size-Heading-1, 64px);
    font-style: italic;
    font-weight: 700;
    line-height: 80px;
  }
}

.hero__description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* LargeText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Large, 18px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.group-buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
}

.hero__info {
  display: flex;
  width: 510px;
  align-items: center;
  gap: 44px;
  align-self: stretch;
}

.Detail_2 {
  width: 100%;
  max-width: 856.337px;
  height: 521px;

  position: absolute;
  transform: translateX(21%); /* Center the element horizontally at 40% */
  z-index: 1; /* Behind other elements */

  background: var(--Purple-01, #f2efff);
}

.figma__picture {
  display: flex;
  width: 304px;
  padding: 43.5px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  z-index: 2;

  border-radius: 10000px;
}

.hero__img {
  height: 521px;
  align-self: stretch;

  border-radius: 1000px;
  background:
    -81.265px 1.042px / 154.117% 99.579% no-repeat,
    var(--Main-Secondary, #2fc9ce);
}

.data__sections {
  display: flex;
  width: 205px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  flex: 1 0 0;

  margin-right: auto;
}

.data__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  z-index: 1;
}

.hero__title {
  align-self: stretch;

  color: var(--Main-Primary, #6e38d9);

  /* H3/Bold */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-3, 32px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  list-style-type: none;
}

.hero__info__description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  list-style-type: none;
}
