.project__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #057f4c);
}
.button__link {
  color: var(--Main-White, #fff);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

.contact__btn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  border: 1px solid var(--Orange-05, #e6ae37);
  background: var(--Main-Background_Alt, #fcf5e4);
}

.contact__link {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu__link {
  text-decoration: none;
  list-style: none;
  color: inherit;
  line-height: 1.25rem;

  @media (max-width: 680px) {
    font: var(--font-normal);
    font-size: 0.8rem;
  }
}
