.hero {
  display: flex;
  height: 840px;
  padding: 200px 88px 116px 88px;
  align-items: center;
  gap: var(--base-px-09, 32px);
  align-self: stretch;

  background: var(--Main-White, #fff);
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.Tag {
  display: flex;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 13px;

  border: 1px solid var(--Neutral-06, #585d5b);
}

.tag__label {
  color: var(--Neutral-06, #585d5b);

  /* H4/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-4, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__content__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.hero-text {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* H1/Semibold */
  font-family: var(--Family-Title, Montserrat);
  font-size: var(--Size-Heading-1, 64px);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  .hero-green-text {
    color: var(--Main-Primary, #057f4c);

    /* H1/Semibold */
    font-family: var(--Family-Title, Montserrat);
    font-size: var(--Size-Heading-1, 64px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.hero__description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);

  /* H4/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Heading-4, 24px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-buttons {
  display: flex;
  align-items: flex-start;
  gap: var(--base-px-04, 16px);
}

.hero__info {
  display: flex;
  align-items: center;
  gap: 94px;
  align-self: stretch;

  .Detail_2 {
    display: flex;
    height: 521px;

    background: var(--Green-01, #e2f2eb);

    .Detail_1 {
      display: flex;
      width: 304px;
      height: 462px;
      transform: rotate(50.694deg);

      position: absolute;
      left: -119px;
      top: -10px;

      .rectangle_3 {
        position: absolute;
        width: 304px;
        height: 462px;
        border-radius: 1000px;
        border: 1px solid var(--Neutral-03, #c3cfca);
        top: 0;
        left: 0;
        background: transparent;
        z-index: 2;

        transform: rotate(50.694deg);
      }

      .rectangle_4 {
        position: absolute;
        width: 272px;
        height: 425px;
        border-radius: 1000px;
        border: 1px solid var(--Neutral-03, #c3cfca);
        top: 19px; // Adjust for best look
        left: 16px; // Adjust for best look
        background: transparent;
        z-index: 3;

        transform: rotate(50.694deg);
      }
    }
  }
}
.figma__picture {
  display: flex;
  width: 304px;
  padding-bottom: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  border-radius: 10000px;
}

.hero__img {
  height: 521px;
  align-self: stretch;

  border-radius: 1000px;
  background: url(<path-to-image>) -84.265px -37.958px / 154.117% 107.579%
      no-repeat,
    var(--Main-Secondary, #e6ae37);
}

.data__sections {
  display: flex;
  width: 112px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.data__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;

  .hero__title {
    align-self: stretch;

    color: var(--Main-Primary, #057f4c);
    text-align: right;

    /* H3/Bold */
    font-family: var(--Family-Content, Raleway);
    font-size: var(--Size-Heading-3, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .hero__description {
    align-self: stretch;

    color: var(--Neutral-07, #424544);
    text-align: right;

    /* MediumText/Regular */
    font-family: var(--Family-Content, Raleway);
    font-size: var(--Size-Medium, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
