.landing {
  display: flex;
  padding: 156px 88px;
  align-items: center;
  gap: 47px;
  align-self: stretch;
}

.area-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.Badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-01, #fcf5e4);

  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.content-text {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 154.545% */

  .green-text {
    color: var(--Main-Primary, #057f4c);
    font-family: Montserrat;
    font-size: 44px;
    font-style: italic;
    font-weight: 700;
    line-height: 68px;
  }
}

.button-me {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #057f4c);
}
.btn-me {
  color: #fff;

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
