.landing {
  display: flex;
  width: 100%;
  padding: 116px 88px;
  flex-direction: column;
  align-items: flex-start;
}

.group-sections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}
