.landing {
  display: flex;
  padding: 156px 88px;
  align-items: center;
  gap: 47px;
  align-self: stretch;
}

.area-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;

  .Badge {
    display: flex;
    padding: var(--base-px-02, 8px);
    align-items: center;
    gap: var(--base-px-01, 4px);

    border-radius: 10000px;
    background: var(--Orange-01, #fcf5e4);
  }
}

.button-me {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #057f4c);

  .btn-me {
    color: #fff;

    /* MediumText/Regular */
    font-family: var(--Family-Content, Raleway);
    font-size: var(--Size-Medium, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
