.skills-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-08, 28px);
  align-self: stretch;
}

.skills__hero {
  display: flex;
  padding: 88px;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;

  background: var(--Main-Primary, #057f4c);
}

.info__hero {
  display: flex;
  height: 521px;
  align-items: center;
  gap: 94px;
  flex: 1 0 0;
}

.Detail1__info {
  width: 304px;
  height: 462px;
  transform: rotate(50.694deg);

  position: absolute;
  left: -119px;
  top: -10px;

  .rectangle_3_info {
    width: 304px;
    height: 462px;
    transform: rotate(50.694deg);
    flex-shrink: 0;

    border-radius: 1000px;
    border: 1px solid var(--Neutral-03, #c3cfca);
  }

  .rectangle_4_info {
    width: 272px;
    height: 425.04px;
    transform: rotate(50.694deg);
    flex-shrink: 0;

    border-radius: 1000px;
    border: 1px solid var(--Neutral-03, #c3cfca);
  }
}

.Detail2__info {
  width: 508.376px;
  height: 521px;

  position: absolute;
  left: -89px;

  background: var(--Main-Background_Alt, #f5f5f5);
}

.content1__title {
  align-self: stretch;

  color: var(--Main-Primary, #057f4c);
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.Data__hero {
  display: flex;

  width: 197px;
  height: 521px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
}

.Content1__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.content1__label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Content_tag {
  display: flex;
  width: 578px;
  padding-top: var(--base-px-12, 44px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);

  border-radius: 8px;
}

.text__tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.bag__skills {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-01, #fcf5e4);
}

.bag__label {
  color: var(--Orange-06, #bb8513);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Content__skills {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title__content {
  align-self: stretch;

  color: var(--Main-White, #fff);
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .title__antoniamendoza {
    color: var(--Main-White, #fff);
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
}

.label__content {
  align-self: stretch;

  color: var(--Main-White, #fff);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group-items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.item-skill {
  display: flex;
  padding: var(--base-px-02, 8px) var(--base-px-03, 12px);
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: var(--base-px-24, 104px);
  border: 1px solid var(--Main-Secondary, #e6ae37);
  background: var(--Orange-01, #fcf5e4);

  .label__tag {
    color: var(--Orange-06, #bb8513);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.Vector1_skills {
  width: 452px;
  height: 677px;

  opacity: 1;

  background: var(--Main-secondary, #e6ae37);
}
