.Section-skills {
  display: flex;
  width: 100%;
  padding: 156px 88px;
  align-items: center;
  gap: 47px;
  align-self: stretch;
}

.area-content {
  display: flex;
  min-width: 553px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
}

.content-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.Badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Orange-04, #a9fcff);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.content-text {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 154.545% */

  .purple-text {
    color: var(--Main-Primary, #6e38d9);
    font-family: Montserrat;
    font-size: 44px;
    font-style: italic;

    line-height: 68px;
  }
}

.button-area {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 12px;
  background: var(--Main-Primary, #6e38d9);
}

.btn-me {
  color: #fff;

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.area_box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  gap: 16px;
  flex-wrap: wrap;
}

.cards_aboutMe {
  display: flex;
  width: 324px;
  min-width: 324px;
  height: 216px;
  padding: var(--base-px-04, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-02, 8px);
  flex-shrink: 0;

  border-radius: 8px;
  border: 1px solid var(--Main-Background, #f2efff);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.card_frame {
  width: 48px;
  height: 48px;
}

.card_icon {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;

  border-radius: 3076.923px;
  background: var(--Main-Secondary, #2fc9ce);
}

.card_label {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card_description {
  align-self: stretch;

  color: var(--Neutral-07, #424544);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.margin {
  display: flex;
  width: 1440px;
  padding: 0 var(--base-px-16, 64px) var(--base-px-16, 64px)
    var(--base-px-16, 64px);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
