.references-section {
  display: flex;
  padding: var(--base-px-17, 72px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-09, 32px);
  align-self: stretch;
}

.image_testimony {
  width: 164px;
  height: 164px;
}

.text_testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.Badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label_testimony {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.content_testimony {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title_testimony_content {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.group_testimony_cards {
  display: flex;
  width: 1440px;
  justify-content: center;
  align-items: flex-end;
  gap: var(--base-px-10, 36px);
}

.margin_card {
  display: flex;
  width: 640px;
  padding: var(--base-px-00, 0);
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.card_testimony {
  display: flex;
  padding: var(--base-px-08, 28px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  align-self: stretch;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.item_card {
  display: flex;
  padding: var(--base-px-08, 28px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-07, 24px);
  align-self: stretch;

  border-radius: var(--base-px-06, 20px);
  background: var(--Main-Background_Alt, #f5f5f5);
}

.label_testimony_card {
  align-self: stretch;

  color: var(--Main-Text, #272827);

  font-family: Raleway;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: var(--base-px-07, 24px); /* 120% */

  /* For multi-line ellipsis */
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show before ellipsis */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
}

.item_item_card {
  display: flex;
  align-items: center;
  gap: var(--base-px-03, 12px);
}

.icono_item_card {
  width: 56px;
  height: 56px;

  border-radius: 56px;
  background: lightgray 50% / cover no-repeat;
}

.content_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
}

.number_label {
  color: var(--Main-Text, #272827);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.content_label {
  color: var(--Main-Text, #272827);
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
