.references-section {
  display: flex;
  padding: var(--base-px-17, 72px) var(--base-px-19, 88px);
  flex-direction: column;
  align-items: center;
  gap: var(--base-px-09, 32px);
  align-self: stretch;
}

.image_testimony {
  width: 164px;
  height: 164px;
}

.text_testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}

.Badge {
  display: flex;
  padding: var(--base-px-02, 8px);
  align-items: center;
  gap: var(--base-px-01, 4px);

  border-radius: 10000px;
  background: var(--Light-03, #d5feff);
}

.label_testimony {
  color: var(--Light-07, #026e72);

  /* MediumText/Regular */
  font-family: var(--Family-Content, Raleway);
  font-size: var(--Size-Medium, 16px);
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.content_testimony {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--base-px-01, 4px);
  align-self: stretch;
}

.title_testimony_content {
  align-self: stretch;

  color: var(--Main-Text, #272827);
  text-align: center;
  font-family: Montserrat;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
