@use "./core/reset";
@use "./core/variables";

main {
  flex: 1; /* pushes footer down */
}

.Home {
  background: var(--Main-White, #fff);
}

.body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
  min-height: 100vh;
}
