@import "./core/reset";
@import "./core/variables";

html,
body {
  height: 100%;
  margin: 0;
}

#root,
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* pushes footer down */
}

.Home {
  background: var(--Main-White, #fff);
}

.body {
  display: flex;
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
}
